# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Environnements virtuels
venv/
env/
.env
.venv
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
profile_default/
ipython_config.py

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Données sensibles / lourdes
*.csv
*.xlsx
*.parquet
data/raw/

# Exports temporaires
*.log
*.tmp